body{
  background: rgb(200, 237, 230);
}
.odin {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: teal;
  color: white;
  text-align: center;
}

.link {
  background: rgb(239, 227, 211);
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.body-lasagna {
  background: rgb(248, 243, 192);
}